{% extends 'base.html' %}

{% block head %}
<title>Idea Manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="center">
    <h1>Update Idea</h1>
    
    <form action="/update/{{task.id}}" method="POST">
        <label>Title</label>
        <input type="text" name="title" value="{{ task.title }}">

        <label>Description</label>
        <input type="text" name="description" value="{{ task.description }}">

        <label>Client</label>
        <input type="text" name="client" value="{{ task.client }}">

        <label>Meeting Date</label>
        <input type="datetime-local" name="meeting_date"
            value="{{ task.meeting_date.strftime('%Y-%m-%dT%H:%M') }}">

        <label>Owner</label>
        <input type="text" name="owner" value="{{ task.owner }}">

        <label>Status</label>
        <select name="status" id="status">
            <option value="Нова" {% if task.status == 'Нова' %}selected{% endif %}>Нова</option>
            <option value="Одобрена" {% if task.status == 'Одобрена' %}selected{% endif %}>Одобрена</option>
            <option value="В процес" {% if task.status == 'В процес' %}selected{% endif %}>В процес</option>
            <option value="Направена" {% if task.status == 'Направена' %}selected{% endif %}>Направена</option>
            <option value="Отказана" {% if task.status == 'Отказана' %}selected{% endif %}>Отказана</option>
        </select>
        <label>Priority</label>
        <select name="priority" id="priority">
            <option value="Няма" {% if task.priority == 'Няма' %}selected{% endif %}>Няма</option>
            <option value="Нисък" {% if task.priority == 'Нисък' %}selected{% endif %}>Нисък</option>
            <option value="Среден" {% if task.priority == 'Среден' %}selected{% endif %}>Среден</option>
            <option value="Висок" {% if task.priority == 'Висок' %}selected{% endif %}>Висок</option>
        </select>
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="{{ url_for('index') }}">Back</a>
</div>
</div>
{% endblock %}
