{% if tasks %}
{% for idea in tasks %}
<tr>
    <td>{{ idea.unique_id }}</td>

    <td>
        <a href="{{ url_for('idea_details', id=idea.id) }}">
            {{ idea.title }}
        </a>
    </td>

    <td>{{ idea.client }}</td>
    <td>{{ idea.owner }}</td>

    <td class="status {{ idea.status|lower|replace(' ', '-') }}">
        {{ idea.status }}
    </td>
    <td>

<form method="POST"
      action="{{ url_for('update_priority', id=idea.id) }}">

    <select name="priority"
            onchange="this.form.submit()">

        <option value="Няма"
            {% if idea.priority == "Няма" %}selected{% endif %}>
            Няма
        </option>

        <option value="Нисък"
            {% if idea.priority == "Нисък" %}selected{% endif %}>
            Нисък
        </option>

        <option value="Среден"
            {% if idea.priority == "Среден" %}selected{% endif %}>
            Среден
        </option>

        <option value="Висок"
            {% if idea.priority == "Висок" %}selected{% endif %}>
            Висок
        </option>

    </select>

</form>

</td>
    <td>{{ idea.meeting_date.strftime("%Y-%m-%d %H:%M") }}</td>

    <td>
        
        <a href="javascript:void(0)"
        data-modal-ignore
        onclick='openDetailsModal(
                {{ idea.unique_id|tojson }},
                {{ idea.title|tojson }},
                {{ idea.description|tojson }},
                {{ idea.client|tojson }},
                {{ idea.owner|tojson }},
                {{ idea.status|tojson }},
                {{ idea.priority|tojson }},
                "{{ idea.meeting_date.strftime("%Y-%m-%d %H:%M") }}",
                "{{ idea.date_created.strftime("%Y-%m-%d %H:%M") }}"
        )'>
            Детайли
        </a>



        <a href="javascript:void(0)"
            data-modal-ignore
            onclick='openUpdateModal(
            {{ idea.id }},
            {{ idea.title|tojson }},
            {{ idea.description|tojson }},
            {{ idea.client|tojson }},
            {{ idea.owner|tojson }},
            {{ idea.status|tojson }},
            {{ idea.priority|tojson }},
            "{{ idea.meeting_date.strftime('%Y-%m-%dT%H:%M') }}"
            )'>
            Обнови
        </a>


        <br>


        <a href="javascript:void(0)"
            data-modal-ignore
            onclick='openDeleteModal({{ idea.id }}, {{ idea.title|tojson }})'>Изтрий</a>
    </td>
</tr>
{% endfor %}
{% else %}
<tr>
    <td colspan="8" style="text-align:center;">No results found.</td>
</tr>
{% endif %}
