{% extends 'base.html' %}

{% block body %}
<div class="content">
    <div class="center">

    <h1>Search Ideas</h1>

    <form action="{{ url_for('search') }}" method="get">
        <input type="text" name="q" placeholder="Search by text or ID">
        <button type="submit">Search</button>
    </form>

<br>

{% if tasks %}
<table>
    <tr>
        <th>Unique ID</th>
        <th>Idea</th>
        <th>Description</th>
        <th>Client</th>
        <th>Meeting Date</th>
        <th>Owner</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Added</th>
        <th>Actions</th>
    </tr>

{% for idea in tasks %}
<tr>
     <td>{{ idea.unique_id }}</td>
            <td>{{ idea.title }}</td>
            <td>{{ idea.description }}</td>
            <td>{{ idea.client }}</td>
            <td>{{ idea.meeting_date }}</td>
            <td>{{ idea.owner }}</td>
    <td>
        <a href="{{ url_for('delete', id=idea.id) }}">Delete</a>
        <br>
        <a href="{{ url_for('update', id=idea.id) }}">Update</a>
    </td>
</tr>
{% endfor %}
</table>
{% else %}
    <p>No results found.</p>
{% endif %}
<br>
    <a href="{{ url_for('index') }}">Back</a>
</div>
</div>
{% endblock %}