{% extends 'base.html' %}

{% block body %}
<div class="content">
    <div class="center">

    <h1>Search Ideas</h1>

    <form action="{{ url_for('search') }}" method="get">
        <input type="text" name="q" placeholder="Search by text or ID">
        <button type="submit">Search</button>
    </form>

<br>

<table border=1 frame=box rules=all style="width:70%">
    <thead>
    <tr>
        <th>Unique ID</th>
        <th>Idea</th>
        <th>Client</th>
        <th>Owner</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Meeting Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody id="ideaTableBody">
    {% include '_idea_rows.html' %}
    </tbody>
</table>
<br>
    <a href="{{ url_for('index') }}">Back</a>
</div>
</div>
{% endblock %}