{% extends 'base.html' %}

{% block head %}
<title>Idea Manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class="center">
    <h1>Update Idea</h1>
    
    <form action="/update/{{task.id}}" method="POST">
        <input type="text" name="title" id="content" value="{{task.title}}">
        <input type="text" name="description" id="description" value="{{task.description}}">
        <input type="text" name="client" id="client" value="{{task.client}}">
        <input type="datetime-local" name="meeting_date" id="meeting_date"
            value="{{ task.meeting_date.strftime('%Y-%m-%dT%H:%M') }}">
        <input type="text" name="owner" id="owner" value="{{task.owner}}">
        <input type="text" name="status" id="status" value="{{task.status}}">
        <select name="priority" id="priority">
            <option value="Low" {% if task.priority == 'Low' %}selected{% endif %}>Low</option>
            <option value="Medium" {% if task.priority == 'Medium' %}selected{% endif %}>Medium</option>
            <option value="High" {% if task.priority == 'High' %}selected{% endif %}>High</option>
        </select>
        <input type="submit" value="Update">
    </form>
    <br>
    <a href="{{ url_for('index') }}">Back</a>
</div>
</div>
{% endblock %}